body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*{
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* **** C O N T A I N E R **** */
.container{
  margin: 50px auto 100px;
  width: 1000px;
  position: relative;
}
.page-text{
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/* **** N A V I G A T I O N **** */
.nav-container{
  background-color: rgb(79, 79, 79);
}
.nav{
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.left-side{
  display: flex;
  list-style: none;
}
.right-side{
  display: flex;
  list-style: none;
}
.nav-btn{
  padding: 20px 20px 15px;
  height: 60px;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
}
.nav-btn a{
  text-decoration: none;
  color: white;
}
.nav-btn:hover{
  background-color: rgba(255, 166, 0, 0.454);
  font-weight: 600;
  border-bottom: 6px solid orange;
}


/* **** B U T T O N S **** */
.btn{
  background-color: orange;
  padding: 10px;
  display: block;
  border: 1px solid orange;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
.clear{
  border: 1px solid tomato;
  background-color: tomato;
}
.rate{
  margin-left: 10px;
  background-color: rgb(100, 199, 252);
  border: 1px solid rgb(100, 199, 252);

}

/* **** P R O D U C T S **** */
.products-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products-item{
  margin: 10px;
  padding: 30px;
  flex-basis: 220px;
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  list-style: none;
}
.products-item img{
  height: 200px;
  margin-bottom: 30px;
  cursor: pointer;
}
.products-item .btn{
  margin: 20px auto;
}

/* *** P R O D U C T - P A G E *** */

.product-box{
  display: flex;
}
.product-img{
  display: block;
  margin-right: 90px;
  height: 400px;
}
.product-info{
  flex-grow: 1;
}
.product-title{
  font-size: 1.5rem;
  color: orange;
}
.product-model{
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
}
.product-price{
  margin: 20px 0px 20px;
  font-size: 1.2rem;
  font-weight: 600;
}
.product-description{
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-bottom: 20px;
}
.inline-block{
  display: inline-block;
}
.hidden{
  display: none;
}
.alert-success{
  width: fit-content;
  padding: 8px;
  border: 3px dotted rgba(0, 182, 0, 0.7);
  border-radius: 5px;
  color: rgba(0, 182, 0, 0.7);
  margin-left: 20px;
}
.blured{
  opacity: 10%;
}
.sharp{
  opacity: 100%;
}

/* *** S T A R - B O X *** */
.comment-section{
  margin-top: 50px;
}
.comment-row{
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: auto;
  height: fit-content;
  list-style: none;
}

.comment-date{
  font-size: 0.9rem;
  display: inline-block;
}
.star-static{
  color: lightgray;
  font-size: 0.7rem;
  margin: 10px 0px;

}




/* *** C O M M E N T - B O X *** */
.comment-box{
  background-color: white;
  height: fit-content;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  position: fixed;
  top: 100px;
  left: calc(100%/2 - 300px);
}
.close-icon{
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.close-icon span:hover {
  background-color: rgba(211, 211, 211, 0.3);
}
.star{
  color: lightgray;
  font-size: 1.8rem;
  cursor: pointer;
  margin: 10px 0px;
}
.yellow{
  color: rgb(255, 217, 0) !important;
}

.comment-box input{
  width: 550px;
  margin-top: 30px;
  padding: 10px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}
.comment-box textarea{
  margin-top: 10px;
  padding: 10px;
  width: 550px;
  min-width: 550px;
  max-width: 550px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}


/* *** C A R T *** */
.cart-body ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1.1rem;
  padding: 25px 0px;
}
.cart-body ul:nth-child(odd){
  background-color: rgba(211, 211, 211, 0.5);
}
.cart-header{
  text-transform: uppercase;
  font-weight: 600;
}
.cart-body ul li{
  width: calc(100% / 6);
  text-align: center;
}
.item-id{
  width: 130px !important
}
.item-model{
  width: 200px !important
}
.item-img img{
  height: 60px;
}
.cart-body .btn{
  margin: 0 auto;
}
.cart-body hr{
  margin: 20px auto;
}
.cart-body .total-price{
  margin-right: 20px;
  text-align: right;
}

/* *** F O R M *** */
.add-product-form{
  width: 600px;
}
.add-form input, textarea{
  display: block;
  width: 600px;
  max-width: 600px;
  height: 40px;
  margin: 10px 0px;
  padding: 10px;
  font-size: 0.9rem;
}



